<!DOCTYPE html>
<html>
<head>
  <title>JShooting</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="mobile-web-app-capable" content="yes">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/socket.io/socket.io.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="/bullets.js"></script>
  <script src="/game.js"></script>
  <script>
  </script>
</head>
<body>
<canvas id="canvas" width="400" height="600"></canvas>
</body>
</html>